</div>

<!-- Footer -->
<div id="upper-footer">

    <div class="contact">
        <h4 class="contact-header">CONTACT iExtend TECHNOLOGIES</h4>
        <ul>
            <li><strong>Email:</strong> info@iextendtechnologies.com</li>
            <li><strong>Phone:</strong> +254713624254</li>
        </ul>
    </div>


    <div></div>


    <div class="social">
        <h4>GET SOCIAL</h4>
        <ul class="social-links">
            <li><a href="facebook.com/iExtend">Facebook</a></li>
            <li><a href="twitter.com/iExtend">Twitter</a></li>
        </ul>
    </div>
</div>

<div id="footer">
    <footer>
        <p class="copyright">Copyright &COPY; {global.yearCreated} {global.companyName} | All Rights Reserved.</p>
    </footer>
</div>

</div>

</body>

</html>