<html>

<head>

    <!-- General Settings -->
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-us">
    <base href="{global.baseUrl}" />

    <!-- Meta Tags -->
    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{head.description}">

    <!-- Static Assets -->
    <link type="image/x-icon" rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="../public/bootstrap.min.css">
    <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
    <link rel="stylesheet" type="text/css" href="public/app.css" />

</head>

<body class="{body.class}">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Header -->
        <div id="main-nav">
            <nav>
                <!-- Logo -->
                <!-- <a class="logo" href="/">
                    <img src="public/logo.png" alt="Logo" />
                </a> -->
                <!-- Navigation -->
                <ul id="nav">
                    <li class="home"><a href=""> Home </a></li>
                    <li class="contact-us"><a href="/contact-us"> Contact us </a></li>
                    <li class="the-team"><a href="/team"> Meet the Team </a></li>
                </ul>

                <div class="clear"></div>
            </nav>
        </div>

        <!-- Page-Specific Content -->
        <div id="body">