<section class='content'>
    <h1 class='content-heading'>Send Us a Message</h1>

    <p class='content-lede'>Use this handy contact form to get in touch with us.</p>

    <form id='contactForm' class='contactForm' action="/api/contact-us" method='POST'>
        <div class="formError"></div>
        <div class="formSuccess">Message successfully delivered.</div>
        <div class='contactForm-input-group'>

            <label class='contactForm-label' for='name'>Full Name</label>

            <input class='contactForm-input' id='name' name='name' type='text' required />
        </div>

        <div class='contactForm-input-group'>
            <label class='contactForm-label' for='email'>Email</label>

            <input class='contactForm-input' id='email' name='email' type='email' required />
        </div>

        <div class='contactForm-input-group'>

            <label class='contactForm-label' for='message'>Enter a Message</label>

            <textarea class='contactForm-input' id='message' name='message' rows='6' cols='65'></textarea>
        </div>


        <button class='contactForm-button' type='submit'>Send It!</button>

    </form>
</section>