<div id="main-banner">
    <div class="banner-text">
        <h2>Want to automate <br /> your company proceses? </h2>
        <h2>Kaizala is your solution.</h2>

        <h3 class="in-touch">Get In touch with us. <br /> We Automate Processes by extending Kaizala functionality.</h3>
    </div>
</div>

<h2 class='projects'>Projects Previously Done.</h2>

<div id="lower-body">

    <div class="project">
        <h3>Mawingu Issue Reporting</h3>

        <p class='project-exp'>Automated Issue reporting process by field agents to the company. Extended Microsoft
            Kaizala functionality by integrating it with Dynamics 365 CRM. In this case, Kaizala is used to capture
            issue details and save them to Dynamics 365 CRM.</p>
        <img class='images' src='../public/Code.jpg' />
        <img class='images' src='../public/Code.jpg' />
    </div>

    <div class="project">
        <h3>Infomoby Business Search</h3>

        <p class='project-exp'>Using Kaizala, we developed kind of a yellow pages for businesses. Customers can search
            for a business and trace its location. </p>
        <img class='images' src='../public/Code.jpg' />
        <img class='images' src='../public/Code.jpg' />
    </div>

</div>