<div id="team-div">
    <div class="team">
        <a href="linkedin/adammaleon"><img class="team-images img-responsive img-circle" src=" ../public/Adam.JPG" alt=""
                srcset=""></a>
        <h4 class="name">Maleon Adam</h4>
        <p>Chief Executive Officer</p>
    </div>

    <div class="team">
        <a href="linkedin/williamlangat"><img class="team-images img-responsive img-circle" src=" ../public/arapLagat.JPG"
                alt="" srcset=""></a>
        <h4 class="name">Arap Lagat</h4>
        <p>Chief Technology Officer</p>
    </div>

    <div class="team">
        <a href="linkedin/annmunyare"><img class="team-images img-responsive img-circle" src="../public/Code.jpg" alt=""
                srcset=""></a>
        <h4 class="name">Ann Munyare</h4>
        <p>Head Sales & Marketing</p>
    </div>
</div>